<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937005234462-oc6473kb98j1gnb4bvolbvsukuggef49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937005234462-oc6473kb98j1gnb4bvolbvsukuggef49</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>937005234462-g8q4pg5u7cit6f0i1dijugarou8rbd6l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-2tvv1_EcfmJDwrUxV0WRjABlf4c_N30</string>
	<key>GCM_SENDER_ID</key>
	<string>937005234462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Meme-Feed</string>
	<key>PROJECT_ID</key>
	<string>meme-feed-07</string>
	<key>STORAGE_BUCKET</key>
	<string>meme-feed-07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937005234462:ios:2adb5a013bf22f6382f10f</string>
	<key>DATABASE_URL</key>
	<string>https://meme-feed-07.firebaseio.com</string>
</dict>
</plist>